<div class="container">
    <h2 class="text-center">List of Clients</h2>
    <div class="form-inline">
        <div class="form-group">
            <label for="search-name">Search by</label>
            <div class="select_c">
                <select data-bind="foreach: headers, value: select" data-placeholder="First Name">
                    <option data-bind="value: $data, text: title"></option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="James" data-bind="textInput: filter">
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr data-bind="foreach: headers">
                <th data-bind="click: $parent.sort, text: title"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: filteredPeople">
            <tr>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <td data-bind="text: phone"></td>
                <td data-bind="text: activity"></td>
            </tr>
        </tbody>
    </table>
</div>
