<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestias adipisci explicabo aliquam. Quos quod fugit, blanditiis cupiditate nemo officia nam in nostrum, iure voluptatibus fugiat odio doloribus modi labore, atque id soluta error vel eveniet assumenda expedita. Maiores, ipsum, illum! Perspiciatis facilis rerum recusandae excepturi, fugit, harum sit aliquam sapiente aut, dignissimos omnis deserunt reprehenderit similique qui quia quis velit. Ab consequuntur aperiam explicabo similique ut laudantium quis accusamus, cumque neque autem dolor animi cupiditate quisquam labore incidunt rerum ratione est illum laboriosam sapiente consectetur. Unde ipsum minima, sunt autem praesentium at quam aliquid fugit eos, ex nesciunt nemo.</p>
    <h2 class="text-center">Gallery</h2>
    <ul class="gallery">
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img class="current" src="http://lorempixel.com/image_output/food-q-c-640-480-1.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-4.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-5.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-6.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-7.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-8.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-9.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-10.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
            </a>
        </li>
        <li class="col-sm-3 col-xs-6">
            <a href="javascript:void(0);" data-bind="click:gotoImage">
                <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
            </a>
        </li>
    </ul>
</div>
<div id="map-google">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.177214274507!2d30.704674951388974!3d46.46499767402404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDbCsDI3JzU0LjAiTiAzMMKwNDInMjQuNyJF!5e0!3m2!1sen!2sua!4v1452075413645" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div id="img-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: nameImg"></h4>
            </div>
            <div class="modal-body">
                <p class="textImg" data-bind="text: textImg"></p>
                <a href="#"><img data-bind="attr: {src: src()}" alt=""></a>
            </div>
        </div>
    </div>
</div>
