<h2 class="text-center">Gallery</h2>
<ul class="gallery">
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img class="current" src="http://lorempixel.com/image_output/food-q-c-640-480-1.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-4.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-5.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-6.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-7.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-8.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-9.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-10.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
        </a>
    </li>
</ul>
<div id="img-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: nameImg"></h4>
            </div>
            <div class="modal-body">
                <p class="textImg" data-bind="text: textImg"></p>
                <a href="#"><img data-bind="attr: {src: src()}" alt=""></a>
            </div>
        </div>
    </div>
</div>
